:host {
  display: block;
  background-color: hsl(168, 100%, 30%);
  margin-bottom: 1em;
  border-radius: 0.75em;
  border-style: solid;
  border-color: hsl(168, 100%, 15%);
  border-width: 0.2em;
  overflow: hidden;
}

:host:last-of-type {
  margin-bottom: 0;
}

.task-title {
  background-color: hsl(168, 100%, 15%);
  color: hsl(168, 100%, 95%);
  min-height: 1.7em;
  padding: 0.25em;
  margin: 0;

}

p {
  color: white;
  padding: 0.25em 0.5em;
  margin: 0; 
}
