:host {
  display: block;
  background-color: hsl(168, 100%, 30%);
  margin: 1em 0;
  border-radius: 0.75em;
  border-style: solid;
  border-color: hsl(168, 100%, 15%);
  border-width: 0.2em;
  overflow: hidden;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1em;
  display: inline;
  background-color: hsl(168, 100%, 15%);
  color: hsl(168, 100%, 95%);
  padding: 0.25em;
  border-right: 0.2em solid hsl(168, 50%, 15%);
  border-bottom: 0.2em solid hsl(168, 50%, 15%);
  border-bottom-right-radius: 0.75em;
}

.task-title {
  background-color: hsl(168, 100%, 15%);
  color: hsl(168, 100%, 95%);
  min-height: 1.7em;
  padding: 0.25em;
  margin: 0 0 0.05em 0;
  border-bottom: 0.2em solid hsl(168, 50%, 15%);
}

p {
  color: white;
  padding: 0.25em 0.5em;
  margin: 0; 
}

.task-not-found {
  background-color: hsl(168, 100%, 15%);
  color: hsl(168, 100%, 95%);
  min-height: 1.7em;
  padding: 0.25em;
  margin: 0;
}